.center-desc {
    text-align: center;
    font-size: 60px;
}
.detect-area {
    display: flex;
    flex-wrap: wrap;
    margin:30px;
 }
.img-right-show {
    min-width: 300px;
    flex: 1.5;
    height: 300px;
}
.img-rotate-full {
    min-width: 500px;
    display: flex;
    flex: 2;
    height: 600px;
    overflow: hidden;
}
.sm-left {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction:row;
    flex: 2;
    height: 100%;
    overflow: hidden;
}
.selector-left {
    flex: 2;
    overflow-y: scroll;
}
.img-right {
    flex: 7;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.demo-image-list {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2px;
    border: solid;
    border-width: 3px;    
    border-color: transparent;
}
.demo-image-list:hover {
    box-sizing: border-box;
    border: solid;
    border-width: 3px;    
    border-color:gray;
}
.demo-image-list-selected {
    box-sizing: border-box;
    border: solid;
    border-width: 3px;    
    border-color:lightblue;
}
.image-holder-right {
    height: 100%;
    width: auto;
}
.image-big {
    display: block;
    flex: 1;
    height: 300px;
    text-align: center;
}
.json-back {
    border: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    height: 300px;
    flex:1;
}