.center-desc {
    text-align: center;
    font-size: 60px;
}
.detect-area {
    display: flex;
    flex-wrap: wrap;
    margin:30px;
 }
.img-right-show {
    min-width: 300px;
    flex: 1.5;
    height: 300px;
}
.img-rotate-full {
    min-width: 500px;
    display: flex;
    flex: 2;
    height: 300px;
    overflow: hidden;
}
.sm-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 300px;
    overflow: hidden;
}
.selector-left {
    flex: 2;
    overflow-y: scroll;
}
.img-right {
    flex: 7;
}
.demo-image-list {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2px;
    border: solid;
    border-width: 3px;    
    border-color: transparent;
}
.demo-image-list:hover {
    box-sizing: border-box;
    border: solid;
    border-width: 3px;    
    border-color:gray;
}
.back-arrow {
    height: 20px;
}
.forward-arrow {
    height: 20px;
}