.center-desc {
    text-align: center;
    font-size: 60px;
}
.detect-area {
    display: flex;
    flex-wrap: wrap;
    margin:30px;
 }
.img-right-show {
    min-width: 300px;
    flex: 1.5;
    height: 300px;
}
.img-rotate-full {
    min-width: 500px;
    display: flex;
    flex: 2;
    height: 600px;
    overflow: hidden;
}
.sm-left {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction:row;
    flex: 2;
    height: 100%;
    overflow: hidden;
}
.selector-left {
    flex: 2;
    overflow-y: scroll;
}
.img-right {
    flex: 7;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.demo-image-list {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2px;
    border: solid;
    border-width: 3px;    
    border-color: transparent;
}
.demo-image-list:hover {
    box-sizing: border-box;
    border: solid;
    border-width: 3px;    
    border-color:gray;
}
.demo-image-list-selected {
    box-sizing: border-box;
    border: solid;
    border-width: 3px;    
    border-color:lightblue;
}
.image-holder-right {
    height: 100%;
    width: auto;
}
.image-big {
    position: relative;
    display: block;
    flex: 1;
    height: 300px;
    text-align: center;
}
.json-back {
    position: relative;
    background-color: #fbfbfb;
    border: 1px solid #cacaca;
    border-width: 1px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    height: 300px;
    padding: 10px;
    flex:1;
    display: flex;
    flex-direction: column;
}
.coveringCanvas{ 
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
}
.json-title {
    font-size: 20px;
    font-weight: 4px;
}
.json-response {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 15px;
    text-align: left;
    flex:8
}
.textarea-json {
    padding-top: 5px;
    flex: 1;
    background-color: #fbfbfb;
    resize: none;
    border:none;
    overflow-x: hidden;
    overflow-y: auto;
    width:100%;
}