<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="keywords" content="人脸识别,icyface,免费，图像识别">
        <link rel="stylesheet" type="" href="statics/css/clear-style.css">
        <link rel="stylesheet" type="" href="statics/css/share.css">
        {% block css %}
        {% endblock %}
    </head>
    <body>
	 <div class="header-page">
            <div class="header-left">
                <div class="span-logo">
                    <h1 class="text-logo">Icyface</h1>
                </div>
                <div class="logo-descri">
                    <h3>人脸识别平台</h3>
                </div>
            </div>
            <div class="header-center">
            </div>
            <div class="header-right">
            </div>
        </div>
        {% block content %}
	{% endblock content %}
        {% block js %}
	{% endblock js %}
    </body>
</html>
