{% extends 'web/base.html' %}
{% block css %}
        <link rel="stylesheet" type="" href="statics/css/detect.css?v={{ wpis.entry.lastChangeDate|date:'Y-m-d-H:i' }}">
{% endblock css%}
        {% block content %}


        <div class="pic-top">
            <img class="img-head-without-align blur" src="statics/img/detect-frontpage.png" alt="">
            <div class="center-texts">
                <div class="center-desc">
                    人脸检测
                </div>
            </div>
        </div>
	{% verbatim %}   
        <div ng-app='detect_demo'  ng-controller="detect_controller as dc" class="detect-area">
            <div class="img-rotate-full">
                <div class="sm-left">
                    <div class="selector-left" >
                        <img src={{one}} class="demo-image-list {{one == dc.selected ? 'demo-image-list-selected':''}}" ng-repeat="one in dc.imageurls" ng-click="dc.click(one)" alt="">
                    </div>
                </div>
                <div class="img-right">
                    <div class='image-big'>
                        <img src={{dc.selected}} class="image-holder-right" id="image-holder-right" alt="">
                        <canvas class="coveringCanvas" id="coveringCanvas"></canvas>
                    </div>
                    <div class="img-upload">
                        <div class="upload-img">
                            <span class="upload-text">上传检测</span>
                            <input type="file" name="" value="" class="image-input" data-ng-init="dc.init()">
                        </div>
                        <div class="url-img">
                            <div class="url">
                                <textarea rows="" cols="" class="url-textarea" ng-model="dc.urlcontent"></textarea>
                            </div>
                            <span class="upload-buttom" ng-click="dc.urlupload()">
                                检测
                            </span>
                        </div>
                    </div>
                    <div class="json-back">
                        <div class="json-title">
                            Response Json
                        </div>
                        <div class="json-response">
                            <textarea readonly rows="" cols="" class="textarea-json">{{dc.json_ret}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	{% endverbatim %}
        <div class="footer">
            Powered by <a class="footer-url" href="http://cloud.icybee.cn">Icycloud</a>
        </div>
	{% endblock content %}
        {% block js %}
        <script src="statics/js/angular.min.js"></script>
        <script src="statics/js/detect.js?v={{ wpis.entry.lastChangeDate|date:'Y-m-d-H:i' }}"></script>
	{% endblock js %}
